/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}


h1 {
    font-size:19px;
    display:inline;

}

.userName, 
.groupMention,
h1  {

    font-weight:800;
    color:hsl(224, 21%, 14%);
}

.groupMention {

    color: rgb(65,79,127);
}

.column-2-10 {

    width:20%;
}

.column-8-10 {

    width:80%;

}

.timeline {
    display:block;
    color:hsl(0, 0%, 72%);
}

.profilePic {
    width:50px;
}

.imageComment {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.imageMention {
    width:100%;
    text-align:justify;
   
} 

.privateMessage {

    border:1px solid hsl(205, 33%, 90%);
    border-radius:5px;
    padding:5%;
}

.postMention {

    color:rgb(137,140,147);
    font-weight: 800;

}
/******************************************
/* BASE STYLES
/*******************************************/

body {

    font-family:'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
    font-weight:500; 
    font-size:14px;
    color: hsl(0, 1%, 54%);
    margin:2% 5%;
}


/******************************************
/* LAYOUT
/*******************************************/

/******** HEADER ********/

header {

    display:flex;
    justify-content: space-between;
    height:100px;
    align-items:center;
    
}


header .container {

    background:rgb(30,57,130); 
    width:30px;
    padding: 2px 3px;
    border-radius:8px;
    text-align: center;
    display:inline-block;

    
}

.notificationCounter {

    color: white !important;

}

/************ MAIN ***********/

main {

}

main > div {

    display:flex;
    padding:3%;
    background: hsl(210, 60%, 98%);
    margin-bottom:2%;
    border-radius: 15px;
    align-items:flex-start;
    line-height:2em;
}



footer {

    height:100px;
    display:flex;
    align-items: center;
    justify-content: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
